---
layout: default
plain: true
title: CV
---

{% assign cv = site.data.cv %}

<section id="cv-head">
    <div id="cv-name">
        <h1>{{ cv.name }}</h1>
        <p id="cv-pdf">view CV in <a href="files/cv.pdf">pdf</a></p>
    </div>
    <div id="cv-contact">
        <p>
            <i class="icon-building"></i> {{ cv.contact.address}}<br />
            <i class="icon-mail"></i> <a href="mailto:{{ cv.contact.email }}">{{ cv.contact.email }}</a><br />
            <i class="icon-globe"></i> <a href="{{ cv.contact.website }}">{{ cv.contact.website }}</a>
       </p>
   </div>
</section>

<section id="cv-employment">
    <h2>Employment</h2>
    <ul>
    {% for job in cv.employment %}
        <li>
            <div>
                <p class="cv-employer">{{ job.employer }}</p>
                <p class="cv-where">{{ job.where }}</p>
            </div>
            <div>
                <p class="cv-job">{{ job.job }}</p>
                <p class="cv-when">{{ job.when }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
</section>

<section id="cv-education">
    <h2>Education</h2>
    <ul>
    {% for degree in cv.education %}
        <li>
            <div>
                <p class="cv-school">{{ degree.school }}</p>
                <p class="cv-where">{{ degree.where }}</p>
            </div>
            <div>
                <p class="cv-degree">{{ degree.degree }}</p>
                <p class="cv-when">{{ degree.when }}</p>
            </div>
            {% if degree.notes %}
            <ul>
                {% for n in degree.notes %}
                <li>{{ n | markdownify }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</section>

<section id="cv-publications">
    <h2>Publications</h2>
    <h3>Conference Papers</h3>
    <ul>
    {% for paper in site.data.papers %}
        {% if paper.type == 'conference' %}
            <li>{% include paper-cv.html paper=paper %}</li>
        {% endif %}
    {% endfor %}
    </ul>

    <h3>Journal Papers</h3>
    <ul>
    {% for paper in site.data.papers %}
        {% if paper.type == 'journal' %}
            <li>{% include paper-cv.html paper=paper %}</li>
        {% endif %}
    {% endfor %}
    </ul>

    <h3>Workshop Papers</h3>
    <ul>
    {% for paper in site.data.papers %}
        {% if paper.type == 'workshop' %}
            <li>{% include paper-cv.html paper=paper %}</li>
        {% endif %}
    {% endfor %}
    </ul>

    <h3>Posters & Talks</h3>
    <ul>
    {% for paper in site.data.papers %}
        {% if paper.type == 'poster' %}
            <li>{% include paper-cv.html paper=paper %}</li>
        {% endif %}
    {% endfor %}
    </ul>

    <h3>Theses</h3>
    <ul>
    {% for paper in site.data.papers %}
        {% if paper.type == 'thesis' %}
            <li>{% include paper-cv.html paper=paper %}</li>
        {% endif %}
    {% endfor %}
    </ul>
</section>

<section id="cv-awards">
    <h2>Awards</h2>
    <ul>
    {% for a in cv.awards %}
        <li>
            <div>
                <p class="cv-award">{{ a.what }}</p>
                <p class="cv-when">{{ a.when }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
</section>

<section id="cv-teaching">
    <h2>Teaching</h2>
    <ul>
    {% for c in cv.teaching %}
        <li>
            <div>
                <p class="cv-course">{{ c.course }}</p>
                <p class="cv-school">{{ c.school }}</p>
            </div>
            <div>
                <p class="cv-role">{{ c.role }}</p>
                <p class="cv-when">{{ c.when }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
</section>

<section id="cv-service">
    <h2>Service</h2>

    <h3>Review Committees</h3>
    <ul>
    {% for c in cv.service.pc %}
        <li>
            <div>
                <p class="cv-what">{{ c.what }} &mdash; {{ c.role }}</p>
                <p class="cv-when">{{ c.when }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>

    <h3>External Reviewing</h3>
    <ul>
    {% for c in cv.service.review %}
        <li>
            <div>
                <p class="cv-what">{{ c.what }}</p>
                <p class="cv-when">{{ c.when }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>

    <h3>Department Service</h3>
    <ul>
    {% for c in cv.service.department %}
        <li>
            <div>
                <p class="cv-what">{{ c.what }}</p>
                <p class="cv-when">{{ c.when }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
</section>

<section id="cv-presentations">
    <h2>Presentations and Seminars</h2>

    <ul>
        {% for t in cv.talks %}
        <li class="cv-talk">
            <h3>{{ t.title }}</h3>
            <ul>
                {% for e in t.events %}
                <li class="cv-event">
                    <div>
                        <p class="cv-what">{{ e.where }}, {{ e.what }}</p>
                        <p class="cv-when">{{ e.date | date: "%b %Y" }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</section>