<div id="header">
    <div class="header-cell">
        <h1><a href="{{ "/" | relative_url }}">James Bornholt</a></h1>
    </div>
    <div class="header-cell">
        <p>Computer Science PhD Student<br />University of Washington</p>
    </div>
    <div class="header-cell">
        <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a target="_blank" id="contact"
           href="http://www.google.com/recaptcha/mailhide/d?k=018LlPIxwBJBGEA_-iI3ZNKA==&c=p7ZC8Co1Y_3uvMJaqz5Gng==">born<span style="display:none">DEL</span>holt@u<span style="display:none">ETE</span>w.edu</a><br />
        &nbsp;<i class="fa fa-building"></i>&nbsp;&nbsp;<a href="http://uw.edu/maps/?cse">CSE 366</a></p>
    </div>
</div>
