<div id="header">
    <div class="header-cell">
        <h1><a href="{{ "/" | relative_url }}">James Bornholt</a></h1>
    </div>
    <div class="header-cell">
        <p>Computer Science PhD Student<br />University of Washington</p>
    </div>
    <div class="header-cell">
        <p><i class="icon-mail"></i> <a target="_blank" id="contact"
           href="#">born<span style="display:none">DEL</span>holt@cs.washingto<span style="display:none">ETE</span>n.edu</a><br />
           <i class="icon-github"></i> <a href="https://github.com/jamesbornholt">GitHub</a></p>
    </div>
</div>
