<div id="{{ include.name }}" class="blog-vega"></div>
{% unless include.noload %}
<script src="https://cdn.jsdelivr.net/npm/vega@4.2.0/build/vega.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc0/build/vega-lite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@3.18.1/build/vega-embed.min.js"></script>
{% endunless %}
<script src="{{ include.data | absolute_url }}"></script>
<script>
(function() {
var elt = document.getElementById("{{ include.name }}");
{{ include.name }}.width = Math.min(elt.clientWidth, {{include.name}}.width);
elt.style.width = {{ include.name }}.width + "px";
vegaEmbed("#{{ include.name }}", {{ include.name }}, {
    "actions": false
})})();
</script>
{% if include.alt %}
<noscript>
    <img src="{{ include.alt | absolute_url }}" class="blog-vega">
</noscript>
{% endif %}