body {
    font-size: 17px;
    line-height: 1.4;
    color: #333333;
    text-rendering: optimizeLegibility;
}
.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
code, pre {
    font-family: "Inconsolata", Consolas, monospace, sans-serif;
    font-weight: 400;
}
b, strong, h1, h2, h3, h4 {
    font-weight: 600;
}
h1, h2, h3, h4 {
    margin: 0.4em 0;
}
h1, h2 {
    margin-top: 0.8em;
}
h1 {
    font-size: 180%;
}
h2 {
    font-size: 130%;
}
h3 {
    font-size: 117%;
}
h4 {
    font-size: 104%;
    margin-bottom: 0;
}
.sec {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
}
p {
    margin: 0.8em 0;
}
#container {
    max-width: 48em;
    margin-right: auto;
    margin-left: auto;
    padding: 0.83em 0 1px 0;
}
#header {
    padding-bottom: 0.83em;
    border-bottom: 1px solid #d3d3d3;
    margin: 0 0.83em;
}
#header p {
    margin-bottom: 0;
}
#header-text {
    padding: 0;
}
#header-img img {
    max-height: 8em;
    float: right;
}
#header h1 {
    line-height: 1.0;
    margin: 0;
}
@media screen and (max-width: 47.99em) {
    #header h1 {
        line-height: 1.4;
    }
    #header-text {
        padding: 0;
    }
    #header p {
        margin: 0;
    }
}
@media screen and (max-width: 35.49em) {
    #header-text {
        padding-bottom: 16px;
    }
    #header-img img {
        float: none;
        max-height: 10em;
        margin-left: auto;
        margin-right: auto;
    }
    #container {
        padding-top: 0.5em;
    }
}
.tight-header p {
    margin: 0;
}
.tight-header h1 {
    line-height: 1.4 !important;
}
#content {
    margin: 0.83em;
    margin-top: 0.41em;
}
#content p {
    margin-top: 0;
    hyphens: auto;
    -webkit-hyphens: auto;
}
#content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    min-width: 350px;
}
a {
    color: #0365C0;
    text-decoration: none;
}
a:hover {
    color: #0A4C8B;
    text-decoration: underline;
}
div.blog-post {
    padding-bottom: 0.8em;
}
div.blog-post:last-of-type {
    padding-bottom: 0;
}
div.blog-post > div {
    box-sizing: border-box;
}
div.blog-date {
    font-size: 80%;
    color: #777777;
    text-align: right;
    vertical-align: top;
    line-height: 18pt;
}
div.blog-desc {
    padding-left: 1em;
}
div.blog-posts blockquote {
    margin: 0 0 0 40px;
    font-style: italic;
}
div.blog-posts p {
    display: inline;
}
@media screen and (max-width: 47.99em) {
    div.blog-date {
        text-align: left;
        line-height: 1.4;
    }
    div.blog-desc {
        padding-left: 0;
    }
}

ul.paper-list p {
    margin: 0;
}
.paper-title {
    font-weight: 600;
}
.paper-authors, .paper-venue, .paper-extra, .paper-links {
    font-size: 15px;
}
.paper-meta {
    line-height: 1.2;
}
ul.paper-list {
    padding: 0;
    margin: 0;
}
ul.paper-list li {
    list-style: none;
    margin-bottom: 0.8em;
}
ul.paper-links {
    padding: 0;
    margin: 0;
    margin-left: 24pt;
}
ul.paper-links li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
}
ul.paper-links li:after {
    content: ", ";
}
ul.paper-links li:last-child:after {
    content: "";
}
h2.blog-title {
    margin: 0.5em 0 0 0;
    font-size: 145%;
}
h3.blog-date {
    color: #666666;
    font-size: 17px;
    font-weight: 400;
    margin-top: 0 !important;
}
blockquote, pre {
    margin: 0.7em 0 0.7em 40px;
    padding: 0 5px;
}
blockquote {
    border-left: 5px solid #eee;
}
blockquote.blog-summary {
    border: 0;
    padding: 0;
    font-style: italic;
}
pre {
    background: #eeeeee;
}

div.multiple-code div {
    padding: 0 20px;
}
div.multiple-code p {
    margin: 0;
}
div.multiple-code pre {
    margin: 0.3em 0 0.7em 0;
}
.line {
    font-size: 70%;
    margin-right: 0.5em;
    color: #888888;
    font-weight: 700;
}
p > code {
    background: #eeeeee;
    white-space: nowrap;
}
hr.footnotes {
    border: 0;
    height: 1px;
    color: #999;
    background-color: #999;
}
ol.footnotes p {
    display: inline;
}
@media print {
    body {
        font-size: 16px;
    }
    h1 a {
        color: #333333;
    }
}
