<table class="blog-posts">
{{ range where .Data.Pages "Section" "post" }}
    {{ if (not .Draft) }}
<tr>
    <td class="blog-date">{{ .Date.Format "2 January" }}</td>
    <td>
    {{ if (not .Params.short_post) }}
    <p><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
    <blockquote class="blog-summary">{{ if .Description }}{{ .Description | safeHtml }}{{ else }}{{ .Summary }}{{ end }}</blockquote>
    {{ else }}
    {{ .Content }}
    {{ end }}
    </td>
    {{ end }}
</tr>
{{ end }}
</table>
