    <div id="sidebar" class="pure-u-1 pure-u-md-1-4">
        <img id="sidebar-img" class="pure-img" src="{{ .Site.BaseURL }}/img/me_square.jpg" alt="Me." />
        <h1>{{ if .IsPage }}<a href="{{ .Site.BaseURL }}">{{ end }}James Bornholt{{ if .IsPage }}</a>{{ end }}</h1>
        <p>PhD Student<br />Computer Science<br />University of Washington</p>
        <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a target="_blank" id="contact" href="http://www.google.com/recaptcha/mailhide/d?k=018LlPIxwBJBGEA_-iI3ZNKA==&c=p7ZC8Co1Y_3uvMJaqz5Gng==">born<span style="display:none">DEL</span>holt@u<span style="display:none">ETE</span>w.edu</a><br />
            &nbsp;<i class="fa fa-building"></i>&nbsp;&nbsp;<a href="http://uw.edu/maps/?cse">CSE 366</a><br />
            &nbsp;<i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;<a href="{{ .Site.BaseURL }}/files/cv.pdf">CV</a></p>
    </div>
