{{ partial "top.html" . }}
<div id="root" class="index">
<div id="left" class="padding"></div>
<div id="container" class="index">
{{ partial "sidebar.html" }}
<div id="content">
    {{ range .Data.Pages }}
        {{ if (or (eq .RelPermalink "/~bornholt/index.html") (eq .RelPermalink "/index.html")) }} {{ .Content }} {{ end }}
    {{ end }}

    <h2 class="sec">News</h2>
    <div class="blog-posts">
{{ range first 4 (where .Data.Pages "Section" "post") }}
    {{ if (not .Draft) }}
    {{ partial "blog-list-entry.html" . }}
    {{ end }}
{{ end }}
    <div class="blog-post">
        <div class="blog-date"></div>
        <div class="blog-desc">
            <a href="{{ .Site.BaseURL }}/post.html">More Entries...</a>
        </div>
    </div>
    </div>

    <h2 class="sec">Publications <p class="header-link">[<a href="http://dblp.uni-trier.de/pers/hd/b/Bornholt:James">DBLP</a>]</p></h2>
    {{ partial "paper-list.html" . }}
</div>
</div>
<div id="right" class="padding"></div>
</div>
{{ partial "bottom.html" . }}
