<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="css/base-min.css" type="text/css">
    <link rel="stylesheet" href="css/grids-responsive-min.css" type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#contact span").remove();
        $("#contact").attr("href", "mailto:" + $.trim($("#contact").text()));
    });
    </script>
</head>
<body>
<div id="container">
    <div id="header" class="pure-g">
        <div id="header-img" class="pure-u-1 pure-u-md-5-8">
            <img class="pure-img" src="img/me.jpg" alt="Me." />
        </div><!--
        --><div id="header-text" class="pure-u-1 pure-u-md-3-8">
            <h1>James Bornholt</h1>
            <p>PhD Student, Computer Science<br />University of Washington</p>
            <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a target="_blank" id="contact"
               href="http://www.google.com/recaptcha/mailhide/d?k=018LlPIxwBJBGEA_-iI3ZNKA==&c=p7ZC8Co1Y_3uvMJaqz5Gng==">born<span style="display:none">DEL</span>holt@u<span style="display:none">ETE</span>w.edu</a><br />
            &nbsp;<i class="fa fa-building"></i>&nbsp;&nbsp;<a href="http://uw.edu/maps/?cse">CSE 366</a></p>
        </div>
    </div>
    <div id="content">
    {{ range .Data.Pages }}
        {{ if eq .RelPermalink "index.html" }} {{ .Content }} {{ end }}
    {{ end }}

    <h2>Research</h2>

    <h3>Conference Papers</h3>
    <ul class="paper-list">
    <li><a class="paper-title" href="http://dx.doi.org/10.1145/2541940.2541958">Uncertain&lt;T&gt;: A First-Order Type for Uncertain Data</a>. James Bornholt, Todd Mytkowicz, and Kathryn S. McKinley. In <a href="https://www.cs.utah.edu/asplos14/">ASPLOS 2014</a>.
    <ul class="paper-links">
        <li><a href="papers/2014-asplos-uncertaint.pdf">Paper</a></li><!--
        --><li><a href="papers/2014-asplos-uncertaint.slides.pdf">Slides</a></li><!--
        --><li><a href="papers/2014-asplos-uncertaint.lightning.pdf">Lightning Session Slides</a></li><!--
        --><li><a href="papers/2014-asplos-uncertaint.poster.pdf">Poster</a></li>
    </ul></li>
    </ul>

    <h3>Workshop Papers</h3>
    <ul class="paper-list">
    <li><a class="paper-title" href="papers/2014-approx-bayes.pdf">There’s Something About Bayes: Effective Probabilistic Programming for the Rest of Us</a>. James Bornholt, Todd Mytkowicz, and Kathryn S. McKinley. In <a href="http://approx2014.cs.umass.edu/">APPROX 2014</a>, colocated with <a href="http://conferences.inf.ed.ac.uk/pldi2014/">PLDI 2014</a>.
    <ul class="paper-links">
        <li><a href="papers/2014-approx-bayes.pdf">Paper</a></li><!--
        --><li><a href="papers/2014-approx-bayes.slides.pdf">Slides</a></li>
    </ul></li>
    </ul>

    <h3>Posters &amp; Talks</h3>
    <ul class="paper-list">
    <li><a class="paper-title" href="papers/2013-pldisrc-uncertaint.finals.pdf">Uncertain&lt;T&gt;: A First-Order Type for Uncertain Data</a>. James Bornholt. In <a href="http://src.acm.org">PLDI 2013 Student Research Competition</a>. <b>First Place, PLDI Student Research Competition (Undergraduate)</b>. <b>Second Place, ACM Student Research Competition Grand Final (Undergraduate)</b>.
    <ul class="paper-links">
        <li><a href="papers/2013-pldisrc-uncertaint.pdf">Extended Abstract</a></li><!--
        --><li><a href="papers/2013-pldisrc-uncertaint.poster.pdf">Poster</a></li><!--
        --><li><a href="papers/2013-pldisrc-uncertaint.slides.pdf">Slides</a></li><!--
        --><li><a href="papers/2013-pldisrc-uncertaint.finals.pdf">Grand Final Submission</a></li><!--
        --><li><a href="http://cecs.anu.edu.au/news/details?SID=453">Press</a></li><!--
        --><li><a href="http://cecs.anu.edu.au/news/details?SID=552">More Press</a></li><!--
        --><li><a href="https://drive.google.com/folderview?id=0B80siNVaWps4eHlNd0R2Y3lWTlU&usp=sharing">Photos</a></li>
    </ul></li>
    <li><a class="paper-title" href="papers/2012-hotchips-energy.pdf">The Model Is Not Enough: Understanding Energy Consumption in Mobile Devices</a>. James Bornholt, Todd Mytkowicz, and Kathryn S. McKinley. In <a href="http://www.hotchips.org/archives/hc24/">Hot Chips 24, 2012</a>.
    <ul class="paper-links">
        <li><a href="papers/2012-hotchips-energy.pdf">Extended Abstract</a></li><!--
        --><li><a href="papers/2012-hotchips-energy.poster.pdf">Poster</a></li>
    </ul></li>
    </ul>

    <h3>Theses</h3>
    <ul class="paper-list">
    <li><a class="paper-title" href="papers/2013-honours-thesis.pdf">Abstractions and Techniques for Programming with Uncertain Data</a>. James Bornholt, advised by Steve Blackburn. Honours thesis, Bachelor of Philosophy (Honours), Australian National University, 2013.
    <ul class="paper-links">
        <li><a href="papers/2013-honours-thesis.pdf">Thesis</a></li><!--
        --><li><a href="papers/2013-honours-thesis.slides.pdf">Slides</a></li>
    </ul></li>
    </ul>
    </div>
</div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-52309609-1', 'auto');
ga('send', 'pageview');
</script>

</body>
</html>
