<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    {% set page_title = page.title | default(value=section.title | default(value="")) %}
    <title>{% if page_title %}{{ page_title }} — {% endif %}{{ config.title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap" rel="stylesheet"> 
    <link href="{{ get_url(path="main.css") | safe }}" rel="stylesheet">
</script>
</head>
<body>
    <header>
        <div class="header-text">
            {% set is_index = current_path == "/" %}
            <h1>{% if not is_index %}<a href="/">{% endif %}James Bornholt{% if not is_index %}</a>{% endif %}</h1>
            <ul class="header-links">
                <li><i class="icon-github"></i> <a href="https://github.com/jamesbornholt">GitHub</a></li>
                <li><i class="icon-briefcase"></i> <a href="https://scholar.google.com/citations?user=nuwXTh4AAAAJ&hl=en">Google Scholar</a></li>
                <li><i class="icon-suitcase"></i> <a href="https://dblp.uni-trier.de/pid/142/3208.html">DBLP</a></li>
                <li><i class="icon-blog"></i> <a href="{{ get_url(path="@/blog/_index.md") | safe }}">Blog</a></li>
                <li><i class="icon-mail"></i> <a href="mailto:bornholt@cs.utexas.edu">Email</a></li>
                <li><i class="icon-doc"></i> <a href="{{ get_url(path="@/cv.md") | safe}}">CV</a></li>
            </ul>
        </div>
        <div class="header-photo">
            <img src="{{ get_url(path="me.jpg") | safe }}" alt="James Bornholt" />
        </div>
    </header>
    <main class="{% block class %}{% endblock class %}">
        {% block main %}
        Hello, world!
        {% endblock main %}
    </main>
</body>
</html>