{% capture pagename %}{{ page.path | replace:'.md','' | replace:'.html','' | slugify }}{% endcapture %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <title>{% if page.title %}{{ page.title | escape }} — {% endif %}{{ site.title | escape }}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | markdownify | strip_html | normalize_whitespace | truncate: 280 | escape }}">

    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="{% if page.short_title %}{{ page.short_title | escape }}{% else %}{{ page.title | default: site.title }}{% endif %}" />
    <meta property="og:description" content="{{ page.excerpt | default: site.description | markdownify | strip_html | normalize_whitespace | truncate: 280 | escape }}" />

    <link rel="alternate" type="application/rss+xml" href="{{ "posts.xml" | absolute_url }}">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata:400,700" type="text/css">
    <link rel="stylesheet" href="{{ "/css/fonts/carlito.css" | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/normalize.min.css" | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/main.css?VERSION" | replace: 'VERSION', site.css_version | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/highlight.css" | relative_url }}" type="text/css">

    <script src="{{ "/js/main.js?VERSION" | replace: 'VERSION', site.css_version | relative_url }}" async></script>
</head>
<body class="{{ pagename }}">
    {% if page.plain != true %}
    <header>
    <div id="header-container">
        <div id="header">
            {% if pagename == 'index' %}
            <div id="header-img">
                <img src="{{ "/img/me_wide_2018.jpg" | relative_url}}" alt="James Bornholt" />
            </div>
            {% endif %}
            <div id="header-content">
                <h1>{% if pagename != 'index' %}<a href="{{ "/" | relative_url }}">{% endif %}James Bornholt{% if pagename != 'index' %}</a>{% endif %}</h1>
                <div class="header-block">
                    Assistant Professor of Computer Science<br /><a href="https://cs.utexas.edu">University of Texas at Austin</a>
                </div>
                <div class="header-block">
                    <div class="header-link"><i class="icon-mail"></i> <a target="_blank" id="contact" href="#">born<span style="display:none">DEL</span>holt@cs.utexa<span style="display:none">ETE</span>s.edu</a></div><br />
                    <div class="header-link"><i class="icon-building"></i> <a target="_blank" href="https://goo.gl/maps/MLgA1YBr1vg8AzsD9">GDC 5.720</a></div><br />
                    <div class="header-link header-link-pad"><i class="icon-doc"></i> <a href="{{ "/cv.html" | relative_url }}">CV</a></div>
                    <div class="header-link"><i class="icon-github"></i> <a href="https://github.com/jamesbornholt">GitHub</a></div>
                </div>
            </div>
        </div>
    </div>
    </header>
    {% endif %}
    <div id="content">
        {{ content }}
    </div>
</body>
</html>