<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.title %}{{ page.title | escape }} — {% endif %}{{ site.title | escape }}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="{{ page.title | default: site.title }}" />
    <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic" type="text/css">
    <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/normalize.min.css" | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/main.css?VERSION" | replace: 'VERSION', site.css_version | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/highlight.css" | relative_url }}" type="text/css">

    <script src="{{ "/js/main.js" | relative_url }}"></script>
</head>
<body class="{{ page.path | replace:'.md','' | slugify }}">
    <div id="left" class="padding"></div>
    <div id="container">
        {{ content }}
    </div>
    <div id="right" class="padding"></div>
</body>
</html>