---
layout: default
---

{{ content }}

<h2 class="sec">News <p class="header-link">[<a href="{{ "/posts.xml" | relative_url }}">Subscribe</a>]</p></h2>
<div class="blog-posts">
{% for post in site.posts limit:4 %}
{% include post-blurb.html post=post %}
{% endfor %}
<div class="blog-post">
    <div class="blog-date blog-date-flex"></div>
    <div class="blog-desc blog-desc-flex">
        <a href="{{ "/posts.html" | relative_url }}">Older News...</a>
    </div>
</div>
</div>

<h2 class="sec">Teaching</h2>
{% assign courses = site.data.cv.teaching | where_exp:"course","course.school == 'University of Texas at Austin'" %}
<ul class="courses">
    {% for course in courses %}<li>{{ course.when }}: {% if course.website %}<a href="{{ course.website }}">{% endif %}{{ course.course }}{% if course.website %}</a>{% endif %}</li>{% endfor %}
</ul>

<h2 class="sec">Students</h2>
{% assign current = site.data.cv.students | where_exp:"student","student.alum != true" %}
{% assign alumni = site.data.cv.students | where_exp:"student","student.alum == true" %}
<div class="students-block">
<ul class="students">
    {% for student in current %}<li>{% if student.website %}<a href="{{ student.website }}">{% endif %}{{ student.name }}{% if student.website %}</a>{% endif %}&nbsp;<span class="student-meta">{{ student.type }}, {{ student.when }}</span></li>{% endfor %}
</ul>
<ul class="students">
    <li><strong>Alumni</strong></li>
    {% for student in alumni %}<li>{% if student.website %}<a href="{{ student.website }}">{% endif %}{{ student.name }}{% if student.website %}</a>{% endif %}&nbsp;<span class="student-meta">{{ student.type }}, {{ student.when }}</span></li>{% endfor %}
</ul>
</div>

<h2 class="sec">Publications <p class="header-link">[<a href="http://dblp.uni-trier.de/pers/hd/b/Bornholt:James">DBLP</a>]</p> <p class="header-link">[<a href="https://scholar.google.com/citations?user=nuwXTh4AAAAJ">Google Scholar</a>]</p></h2>
<h3>Conference Papers</h3>
{% assign papers = site.data.papers | where_exp:"paper","paper.type == 'conference'" %}
{% include paper-list.html papers=papers %}

<h3>Journal Papers</h3>
{% assign papers = site.data.papers | where_exp:"paper","paper.type == 'journal'" %}
{% include paper-list.html papers=papers %}

<h3>Workshop Papers</h3>
{% assign papers = site.data.papers | where_exp:"paper","paper.type == 'workshop'" %}
{% include paper-list.html papers=papers %}

<h3>Posters & Talks</h3>
{% assign papers = site.data.papers | where_exp:"paper","paper.type == 'poster'" %}
{% include paper-list.html papers=papers %}

<h3>Theses</h3>
{% assign papers = site.data.papers | where_exp:"paper","paper.type == 'thesis'" %}
{% include paper-list.html papers=papers %}
