---
layout: page
---

<h2>Blog <p class="header-link">[<a href="{{ "posts.xml" | relative_url }}">Subscribe</a>]</p></h2>
<div class="blog-posts">
{% assign blog = site.posts | where_exp:"post","post.short_post != true" %}
{% for post in blog %}
{% include post-blurb.html post=post %}
{% endfor %}
</div>

<h2>News</h2>
<div class="blog-posts">
{% assign news = site.posts | where_exp:"post","post.short_post == true" %}
{% for post in news %}
{% include post-blurb.html post=post %}
{% endfor %}
</div>